.BorderPane{
-fx-background-color: darkseagreen;
}

.BorderPane .label {
    -fx-text-fill: darkgreen;
}



.myDialog{
    -fx-background-color: #f9d900;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: coral;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: coral;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}



.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}
.text-area .content {
    -fx-background-color: DARKOLIVEGREEN;
}